p{
  text-align: center;
  font-size: 7rem;
  color: #393e46;
  font-family: 'Saira', sans-serif;

}

body{
  background-image: url('https://i.pinimg.com/originals/72/21/41/7221419c22aa4f8865ffb73f87a3564f.gif');
  background-size: 100%;
}
